<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/login/" method="post">
        <p>用户名：<input type="text" name="uname"/></p>
        <p>密码：<input type="password" name="pwd"/></p>
        <p>爱好：
            <input type="checkbox" name="fav" value="eat"/>eat
            <input type="checkbox" name="fav" value="sleep"/>sleep
            <input type="checkbox" name="fav" value="game"/>game
        </p>
        <p>&emsp;&emsp;<input type="submit" value="登录"/></p>

    </form>

</body>
</html>