<form method="post" action="/login">
    {% raw xsrf_form_html() %} <!-- 防跨域攻击 -->
        <tr>

            <td>
                <input type="text" name="username" placeholder="用户名"><br>
            </td>
        </tr>
        <tr>
            <td>
                 <input type="password" name="password" placeholder="密码"><br><br>
            </td>
        </tr>

            <td>
                <input type="submit" value="登陆">&nbsp;&nbsp;
                <input type="button" value="注册" onclick="javascript:location.href='/regist';">
                 <input type="button" value="忘记密码？" onclick="javascript:location.href='/forgot_password';">
            </td>
        </tr>
    </form>
