/* chatroom.css */
body {
    font-family: Arial, sans-serif;
}
#chat-container {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

#chat-messages {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}
#user-list {
    float: right;
    width: 200px;
    border-left: 1px solid #ccc;
    padding: 10px;
}
#message-input {
    width: 100%;
    padding: 10px;
}


#unread-message-alert {
    font-size: 20px; /* Makes the font larger */
    font-weight: bold; /* Makes the font bold */
}

#divId{
    width:500px;
    height: 300px;
    border: 1px solid gray;
    overflow: auto;
    background: lightblue;
}

#msg{
    width: 400px;
    height: 40px;
    font-size: 20px;
}

#btn{
    width:99px;
    height: 42px;
    border:none;
}