/* 重置样式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.welcome-msg {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-form input[type="text"] {
    flex-grow: 1;
    padding: 5px;
}

.search-form input[type="submit"] {
    padding: 5px 10px;
}

.category-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f2f2f2;
}

.category-nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ddd;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; /* 添加这行代码 */
    align-items: center; /* 添加这行代码 */
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(50% - 20px); /* 修改这行代码 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加这行代码 */
    border-radius: 5px; /* 添加这行代码 */
    overflow: hidden; /* 添加这行代码 */
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 修改这行代码 */
    border-radius: 5px 5px 0 0; /* 添加这行代码 */
}

.product-image {
    max-width: 100%;
    height: auto;
}


.product-name {
    font-weight: bold;
    padding: 5px;
}

.product-price {
    color: #f00;
    padding: 5px;
}

.product-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.product-info {
    padding: 10px;
}


.tag {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.want-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}


.want-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 修改这行代码 */
}

.main-footer {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.main-footer a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ddd;
}

.notification-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}
.footer-info{

    right: 0;
    bottom: 0;
    justify-content: right;
    padding: 10px;

    /* 距离页面右侧的距离 */

}