<!DOCTYPE html>
<html>
<head>
    <title>Publish Product</title>
</head>
<body>
    <h1>Publish Product</h1>
        <form action="/product/upload" method="post" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
        <label for="name">商品名称:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">商品描述:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="price">价格:</label><br>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="quantity">数量:</label><br>
        <input type="number" id="quantity" name="quantity" required><br><br>

        <label for="image">商品图片:</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>

        <input type="submit" value="发布">
    </form>
    {% include "foot.html" %}
</body>
</body>
</html>
