<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
    <style>

        #divId{
            width:500px;
            height: 300px;
            border: 1px solid gray;
            overflow: auto;
            background: lightblue;
        }

        #msg{
            width: 400px;
            height: 40px;
            font-size: 20px;
        }


        #btn{
            width:99px;
            height: 42px;
            border:none;
        }



    </style>
</head>
<body>
    <div id="unread-message-alert" style="display: none;">You have unread messages</div>
<script>
        var ws = new WebSocket("ws://192.168.9.165:8000/chat");

        ws.onopen = function() {
            console.log("WebSocket connection established");
        };

        ws.onerror = function() {
            console.log("WebSocket connection error");
        };

        ws.onmessage = function (evt) {
            var message = JSON.parse(evt.data);
            if (message.type === 'message') {
                $('#divId').append('<p>'+message.text+'</p>');
                $('#unread-message-alert').show();
            }
        };
    </script>
</body>
</html>