<link rel="stylesheet" href="{{ static_url('css/footer.css') }}">
<footer class="main-footer">
    <a href="/main">
        <img src="/static/images/shouye.png" alt="首页">
        <span>首页</span>
    </a>
    <a href="/product/upload">
        <img src="/static/images/shouye.png" alt="上传">
        <i class="upload-icon"></i>
        <span>上传</span>
    </a>
    <a href="/chat_room?user_id=1" id="my-messages-link">
        <i class="message-icon"></i>
        <img src="/static/images/shouye.png" alt="消息">
        <span>消息</span>
        <span id="unread-count" class="unread-count" style="display: none;"></span>
    </a>
    <a href="/home_page">
        <i class="profile-icon"></i>
        <img src="/static/images/shouye.png" alt="我的">
        <span>我的</span>

    </a>
    <div class="footer-info">
        <p>版权所有 &copy; 2025 小区二手交易平台</p>
    </div>
</footer>