<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Chat</title>
    <link rel="stylesheet" href="{{ static_url('css/chatroom.css') }}">
</head>
<body>
    <div id="unread-message-alert" style="display: none;">消息</div>
    <div id="divId"></div>
    <ul id="private-message-list"></ul>
    <input type="text" id="msg" />
    <input type="button" id="btn" value="发送" onclick="sendPrivate();" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ static_url('js/main.js') }}"></script>
</body>
</html>