<!DOCTYPE html>
<html>
<head>
    <title>Publish Product</title>
</head>
<body>
    <h1>Publish Product</h1>
    <form id="product-form" action="/publish_product" method="post" enctype="multipart/form-data">
         {% raw xsrf_form_html() %} <!-- 防跨域攻击 -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required>

        <label for="images">Images:</label>
        <input type="file" id="images" name="images" multiple required>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" required>

        <button type="submit">Publish</button>
    </form>
</body>
</html>
