<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<ol>
    <li>{{uname}}</li>
    <li>{{l[1]}}</li>
    <li>{{d.get('k3')}}</li>
    <li>{{d['k2']}}</li>
    <li>{{p.pname}}</li>
    <li>{{s}}</li>
    <li>{%raw s1%}</li>


</ol>


{% for li in rev(l)%}
    {{li}}<br/>
{% end %}

<br/>

{% for k,v in d.items() %}
    {{k}}---{{v}}<br/>

{% end %}

<br/>

{% if p == None %}
    None
{% else %}
    Person Object

{% end %}

</body>
</html>